sources/PortalServiceWS/src/java/META-INF/ServiceWSService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.service.stcfed.rnp.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.service.stcfed.rnp.br/" name="ServiceWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.service.stcfed.rnp.br/" schemaLocation="http://localhost:8080/ServiceWS/ServiceWSService?xsd=1" />
</xsd:schema>
</types>
<message name="inserirAcomodacao">
<part name="parameters" element="tns:inserirAcomodacao" />
</message>
<message name="inserirAcomodacaoResponse">
<part name="parameters" element="tns:inserirAcomodacaoResponse" />
</message>
<message name="editarAcomodacao">
<part name="parameters" element="tns:editarAcomodacao" />
</message>
<message name="editarAcomodacaoResponse">
<part name="parameters" element="tns:editarAcomodacaoResponse" />
</message>
<message name="consultarPorIdAcomodacao">
<part name="parameters" element="tns:consultarPorIdAcomodacao" />
</message>
<message name="consultarPorIdAcomodacaoResponse">
<part name="parameters" element="tns:consultarPorIdAcomodacaoResponse" />
</message>
<message name="deletarAcomodacao">
<part name="parameters" element="tns:deletarAcomodacao" />
</message>
<message name="deletarAcomodacaoResponse">
<part name="parameters" element="tns:deletarAcomodacaoResponse" />
</message>
<message name="consultarPorNomeAcomodacao">
<part name="parameters" element="tns:consultarPorNomeAcomodacao" />
</message>
<message name="consultarPorNomeAcomodacaoResponse">
<part name="parameters" element="tns:consultarPorNomeAcomodacaoResponse" />
</message>
<message name="selectAllAcomodacao">
<part name="parameters" element="tns:selectAllAcomodacao" />
</message>
<message name="selectAllAcomodacaoResponse">
<part name="parameters" element="tns:selectAllAcomodacaoResponse" />
</message>
<message name="olaAcomodacao">
<part name="parameters" element="tns:olaAcomodacao" />
</message>
<message name="olaAcomodacaoResponse">
<part name="parameters" element="tns:olaAcomodacaoResponse" />
</message>
<message name="inserirReserva">
<part name="parameters" element="tns:inserirReserva" />
</message>
<message name="inserirReservaResponse">
<part name="parameters" element="tns:inserirReservaResponse" />
</message>
<message name="editarReserva">
<part name="parameters" element="tns:editarReserva" />
</message>
<message name="editarReservaResponse">
<part name="parameters" element="tns:editarReservaResponse" />
</message>
<message name="consultarPorIdReserva">
<part name="parameters" element="tns:consultarPorIdReserva" />
</message>
<message name="consultarPorIdReservaResponse">
<part name="parameters" element="tns:consultarPorIdReservaResponse" />
</message>
<message name="deletarReserva">
<part name="parameters" element="tns:deletarReserva" />
</message>
<message name="deletarReservaResponse">
<part name="parameters" element="tns:deletarReservaResponse" />
</message>
<message name="consultarPorNomeReserva">
<part name="parameters" element="tns:consultarPorNomeReserva" />
</message>
<message name="consultarPorNomeReservaResponse">
<part name="parameters" element="tns:consultarPorNomeReservaResponse" />
</message>
<message name="selectAllReserva">
<part name="parameters" element="tns:selectAllReserva" />
</message>
<message name="selectAllReservaResponse">
<part name="parameters" element="tns:selectAllReservaResponse" />
</message>
<message name="olaReserva">
<part name="parameters" element="tns:olaReserva" />
</message>
<message name="olaReservaResponse">
<part name="parameters" element="tns:olaReservaResponse" />
</message>
<portType name="ServiceWS">
<operation name="inserirAcomodacao">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/inserirAcomodacaoRequest" message="tns:inserirAcomodacao" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/inserirAcomodacaoResponse" message="tns:inserirAcomodacaoResponse" />
</operation>
<operation name="editarAcomodacao">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/editarAcomodacaoRequest" message="tns:editarAcomodacao" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/editarAcomodacaoResponse" message="tns:editarAcomodacaoResponse" />
</operation>
<operation name="consultarPorIdAcomodacao">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorIdAcomodacaoRequest" message="tns:consultarPorIdAcomodacao" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorIdAcomodacaoResponse" message="tns:consultarPorIdAcomodacaoResponse" />
</operation>
<operation name="deletarAcomodacao">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/deletarAcomodacaoRequest" message="tns:deletarAcomodacao" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/deletarAcomodacaoResponse" message="tns:deletarAcomodacaoResponse" />
</operation>
<operation name="consultarPorNomeAcomodacao">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorNomeAcomodacaoRequest" message="tns:consultarPorNomeAcomodacao" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorNomeAcomodacaoResponse" message="tns:consultarPorNomeAcomodacaoResponse" />
</operation>
<operation name="selectAllAcomodacao">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/selectAllAcomodacaoRequest" message="tns:selectAllAcomodacao" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/selectAllAcomodacaoResponse" message="tns:selectAllAcomodacaoResponse" />
</operation>
<operation name="olaAcomodacao">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/olaAcomodacaoRequest" message="tns:olaAcomodacao" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/olaAcomodacaoResponse" message="tns:olaAcomodacaoResponse" />
</operation>
<operation name="inserirReserva">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/inserirReservaRequest" message="tns:inserirReserva" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/inserirReservaResponse" message="tns:inserirReservaResponse" />
</operation>
<operation name="editarReserva">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/editarReservaRequest" message="tns:editarReserva" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/editarReservaResponse" message="tns:editarReservaResponse" />
</operation>
<operation name="consultarPorIdReserva">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorIdReservaRequest" message="tns:consultarPorIdReserva" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorIdReservaResponse" message="tns:consultarPorIdReservaResponse" />
</operation>
<operation name="deletarReserva">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/deletarReservaRequest" message="tns:deletarReserva" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/deletarReservaResponse" message="tns:deletarReservaResponse" />
</operation>
<operation name="consultarPorNomeReserva">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorNomeReservaRequest" message="tns:consultarPorNomeReserva" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/consultarPorNomeReservaResponse" message="tns:consultarPorNomeReservaResponse" />
</operation>
<operation name="selectAllReserva">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/selectAllReservaRequest" message="tns:selectAllReserva" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/selectAllReservaResponse" message="tns:selectAllReservaResponse" />
</operation>
<operation name="olaReserva">
<input wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/olaReservaRequest" message="tns:olaReserva" />
<output wsam:Action="http://ws.service.stcfed.rnp.br/ServiceWS/olaReservaResponse" message="tns:olaReservaResponse" />
</operation>
</portType>
<binding name="ServiceWSPortBinding" type="tns:ServiceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="inserirAcomodacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarAcomodacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarPorIdAcomodacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarAcomodacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarPorNomeAcomodacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectAllAcomodacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="olaAcomodacao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="inserirReserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editarReserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarPorIdReserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletarReserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarPorNomeReserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectAllReserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="olaReserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServiceWSService">
<port name="ServiceWSPort" binding="tns:ServiceWSPortBinding">
<soap:address location="http://localhost:8080/ServiceWS/ServiceWSService" />
</port>
</service>
</definitions>